{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    {% if parent[0] is defined %}
    <div class="post--parent">
        <div class="post__userbox">
            <img class="post__avatar" src="{{ parent[0].user.avatar }}">
            <a class="post__username">{{ parent[0].user }}</a>
        </div>
        <div class="post__content">
            <a href="{{ path('post_show', {'id': parent[0].id}) }}">{{ parent[0].content }}</a>
        </div>
    </div>
    {% endif %}

    <div class="post">
        <div class="post__userbox">
            <img class="post__avatar" src="{{ post.user.avatar }}">
            <a class="post__username">{{ post.user }}</a>
        </div>
        <div class="post__content">
            <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.content }}</a>
        </div>
    </div>

    <p class="replies">replies:</p>
    {% for child in children %}
    <div class="post--child">
        <div class="post__userbox">
            <img class="post__avatar" src="{{ child.user.avatar }}">
            <a class="post__username">{{ child.user }}</a>
        </div>
        <div class="post__content">
            <a href="{{ path('post_show', {'id': child.id}) }}">{{ child.content }}</a>
        </div>
    </div>
    {% else %}
    <p class="norepliesfound">No replies here... yet.</p>
    {% endfor %}
    {% if app.user %}
        {{ include('post/_form.html.twig') }}
    {% endif %}
{% endblock %}
