{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Parent post</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if parent[0] is defined %}
            <tr>
                <td>{{ parent[0].id }}</td>
                <td>{{ parent[0].content }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': parent[0].id}) }}">show</a>
                    <a href="{{ path('post_edit', {'id': parent[0].id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endif %}
    </table>

    <h2>Child posts</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
    {% for child in children %}
            <tr>
                <td>{{ child.id }}</td>
                <td>{{ child.content }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': child.id}) }}">show</a>
                    <a href="{{ path('post_edit', {'id': child.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
